# .env file

# AWS Secret - Internal Authentication configuration
AWS_REGION=ap-southeast-1
AWS_SECRET_NAME=aws/whale-sentinel/your_key_name
AWS_API_SECRET_KEY_NAME=your_api_key_name

# WS Module Web Attack Detection configuration ws_web_attack_detection:5001
WS_MODULE_WEB_ATTACK_DETECTION_URL=your_ws_module_web_attack_detection_url
WS_MODULE_WEB_ATTACK_DETECTION_ENDPOINT=/api/v1/web-attack-detection

# WS Module DGA Detection configuration ws_dga_detection:5002
WS_MODULE_DGA_DETECTION_URL=your_ws_module_dga_detection_url
WS_MODULE_DGA_DETECTION_ENDPOINT=/api/v1/dga-detection

# WS Module Common Attack Detection configuration ws_common_attack_detection:5003
WS_MODULE_COMMON_ATTACK_DETECTION_URL=your_ws_module_common_attack_detection_url
WS_MODULE_COMMON_ATTACK_DETECTION_ENDPOINT=/api/v1/common-attack-detection

# Logger configuration
LOG_MAX_SIZE=10000000 # 10MB
LOG_MAX_BACKUPS=3
LOG_MAX_AGE=30 # 30 days
LOG_COMPRESS=true